body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-image: url("https://img.freepik.com/premium-photo/magenta-pink-paper-texture-background_118047-16711.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text {
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    /*margin-top: 20px;*/
    padding-bottom: 30;
}

.second_text {
    background-color: white;
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    /* optional: adds some space between the buttons */
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}