{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
		<link rel="stylesheet" href="{% static 'css/yesStyle.css' %}" />
	</head>
	<body>
		<div class="container">
			<div class="second_text">
				<h1 class="header_text">правильно! варюш, ты приносишь в мою жизнь счастье, <br> я очень благодарен тебе за это, люблю тебя очень сильно</h1>
			</div>
			<div class="gif_container">
				<img
					src="{% static 'img/cute-cat.gif' %}"
					alt="Cute animated illustration"
				/>
			</div>
			<!--        <p class = "text">Тогда увидимся!!!!</p>-->
		</div>
	</body>
</html>